<div class="navbar clearfix">
    <a name="index" class="current" href="/">首页</a>
    <a name="sport" href="/Product/ProductList?catalogID=01">运动器材</a>
    <a name="book" href="/Product/ProductList?catalogID=02">大学书籍</a>
    <a name="electronic" href="/Product/ProductList?catalogID=03">电子产品</a>
    <a name="music" href="/Product/ProductList?catalogID=04">音乐器材</a>
    <a name="other" href="/Product/ProductList?catalogID=05">其他</a>
    <a name="high" href="/Product/ProductList?catalogID=06">品牌一览</a>
    <a name="low" href="/Product/ProductList?catalogID=07">折扣区<em class="sale"></em></a>
</div>
