<div class="box_left">
    <dl class="box_Order">
        <dt>商品发布</dt>
        <dd><a href="/User/PublishProduct">我要发布商品</a></dd>
        <dd><a href="/User/MyPublish">我发布的商品</a></dd>
        <dd><a href="/User/UserDelProduct">回收站</a></dd>
    </dl>
    <dl class="box_Order box_Order1">
        <dt>关注中心</dt>
        <dd><a href="/User/userAttention">我关注的商品</a></dd>
        <dd><a href="/User/WhoAttentionMe">被关注的商品</a></dd>
    </dl>
    <dl class="box_Order box_Order1">
        <dt>我的订单</dt>
        <dd><a href="#">已付款</a></dd>
        <dd><a href="#">未付款</a></dd>
    </dl>
</div>

