@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="~/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".cls").click(function () {
                alert("hello");

            })

           
        })
        function msg() {
            alert("hello");

        }

    </script>


</head>
<body>
    <input type="button" value="Test" onclick="msg();">
</body>
</html>