@{
    string userName= this.ViewBag.userName;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户注册</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/css/user.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        /*---键盘按下事件---*/
        $(document).keydown(function (e) {
            if (e.keyCode == 13) {
                $("#btnRegister").click();
            }
        })

        $(function () {
            /*---更换验证码--*/
            $("#hyz").click(function () {
                changeCode();
            });

            /*---判断用户帐号是否规范以及是否占用--*/
            $("#password1").blur(function () {
                var password1 = $("#password1").val();
                if (password1.length < 8) {
                    $("#yzpassword").text("密码太短");
                } else｛
                $("#yzpassword").text("合法");
            });

            /*----判断邮箱是否合法----*/
            $("#email").blur(function () {
                var password1 = $("#password1").val();
                var password2 = $("#password2").val();
                if (password1 != password2) {
                    $("#yzpassword2").text("两次密码输入不同");
                }
            })


            /*---提交注册--*/
            $("#btnRegister").click(function () {
                var password1 = $("#password1").val();
                var password2 = $("#password2").val();
                if (password1 != password2 || password2.length >= 8) {
                    alert("密码不合法");
                    return;
                }
            });

        });


        function changeCode() {
            $("#codeId").attr("src", "/Public/ValidateCode.ashx?_=" + Math.random());
        }
    </script>
</head>

<body>
    <!------------top---------------->
    @Html.Action("SSTop", "Shared")

    <!------------header---------------->
    <div class="header">
        <div class="logo"><a href="/"><img src="/images/logo.png" width="190" /></a></div>
    </div>
    <div class="clr2"></div>
    <!------------main---------------->
    <div class="main">
        <div class="login-left">
            <div class="title"><h2>找回密码<span>ForgotPassword</span></h2></div>
            <form class="form-group" method="post" action="/User/ChangePassword">
                <input type="hidden" name="userName" value="@userName" />
                <div class="input-k">
                    <span>输入密码：</span><input type="password" id="password1" name="password1" /><p class="prompt" id="yzpassword"></p>
                </div>
                <div class="input-k">
                    <span>再次输入：</span><input type="password" id="password2" name="password2" /><p class="prompt" id="yzpassword2"></p>
                </div>
                <div class="input-k">
                    <span></span><button type="submit" id="btnRegister" style="cursor:pointer;">保存</button>
                </div>
            </form>
        </div>

        <div class="login-right">
            <p>已经是我们的会员？</p>
            <a href="/user/Login" style="padding-left:40px;">立即登录</a>
        </div>

    </div>

    <!------底部-------->
    <div class="footer">
        <div class="footer-c">
            <dl>
                <dt>购买指南</dt>
                <dd><a href="#">第一次购物体验</a></dd>
                <dd><a href="#">品质保证原则</a></dd>
                <dd><a href="#">会员申请条件</a></dd>
            </dl>
            <dl>
                <dt>支付方式</dt>
                <dd><a href="#">网银在线支付</a></dd>
                <dd><a href="#">支付宝支付</a></dd>
                <dd><a href="#">银联在线支付</a></dd>
            </dl>
            <dl>
                <dt>配送方式</dt>
                <dd><a href="#">配送方式</a></dd>
            </dl>
            <dl>
                <dt>售后服务</dt>
                <dd><a href="#">联系客服</a></dd>
                <dd><a href="#">订单查询</a></dd>
                <dd><a href="#">退换货流程及原则</a></dd>
            </dl>

            <div class="col-contact">
                <p class="phone">400-100-5678</p>
                <p>周一至周日 8:00-18:00<br />（仅收市话费）</p>
                <input type="button" value="在线客户" />
            </div>
            <div class="clr20"></div>
            <div class="footer-b">
                <p><a href="#">关于我们</a>  |  <a href="#">手机商城</a>  |  <a href="#">联系我们</a></p>
                <p>2013 © DEHUA.com,All Rights Reserver. cz科技 版权所有　　网站备案号：闽ICP备0000号-1</p>
            </div>
        </div>
    </div>


</body>


</html>
