input,
textarea {
  outline: none;
}
a,
input[type=submit],
input[type=button],
button {
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.right {
  float: right;
}
.border {
  border: 1px solid #d6d6d6;
}
.border:focus {
  border: 1px solid #a4e0b0;
}
.radius-round {
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
.about {
  font-family: "Microsoft YaHei";
  margin-top: 40px;
}
.about,
.about * {
  box-sizing: border-box;
}
.about .left-nav {
  width: 226px;
  float: left;
}
.about .left-nav h1 {
  background: url(../img/about.jpg);
  width: 226px;
  height: 95px;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.77);
  line-height: 95px;
  text-align: center;
}
.about .left-nav ul li {
  display: block;
  height: 48px;
  width: 100%;
  line-height: 48px;
  font-size: 20px;
  color: #6f6f6f;
  padding-left: 28px;
  margin-top: 10px;
  border-left: 4px solid #fff;
}
.about .left-nav ul li.active {
  color: #08ac29;
  border-left-color: #1eb43a;
  background-color: #f5f5f5;
}
.about .content {
  width: 898px;
}
.about .content h2 {
  font-size: 23px;
  color: #08ac29;
}
.about .content hr {
  height: 0;
  width: 100%;
  border: none;
  border-top: 1px solid #ededed;
  margin: 12px 0 50px;
}
.about .content .detailed {
  width: 100%;
  padding: 0 100px 0 60px;
  margin-bottom: 50px;
}
.about .content .detailed p {
  text-indent: 2em;
  line-height: 20px;
}
.about .content .detailed h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 8px;
}
