input,
textarea {
  outline: none;
}
a,
input[type=submit],
input[type=button],
button {
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.right {
  float: right;
}
.border {
  border: 1px solid #d6d6d6;
}
.border:focus {
  border: 1px solid #a4e0b0;
}
.radius-round {
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
#collapse,
.collapse {
  display: none;
  width: 812px;
  height: auto;
  border: 2px solid #e2eae9;
  background-color: #fdfffa;
  margin-bottom: 10px;
  text-align: left;
}
#collapse .item,
.collapse .item {
  margin: 20px 0;
}
#collapse .item > label:first-child,
.collapse .item > label:first-child {
  display: inline-block;
  padding-right: 6px;
  width: 124px;
  text-align: right;
  vertical-align: top;
  line-height: 31px;
}
#collapse .item > label:first-child b,
.collapse .item > label:first-child b {
  color: red;
}
#collapse .item input[type=checkbox],
.collapse .item input[type=checkbox] {
  vertical-align: middle;
  margin: 0;
}
#collapse .item ul,
.collapse .item ul {
  display: inline-block;
  margin-top: 8px;
}
#collapse .item ul li,
.collapse .item ul li {
  background: url(../img/star1.png);
  width: 12px;
  height: 12px;
  float: left;
}
#collapse .item ul li.active,
.collapse .item ul li.active {
  background: url(../img/star2.png);
}
#collapse .item .tags,
.collapse .item .tags {
  display: inline-block;
  max-width: 588px;
}
#collapse .item .tags .tag,
.collapse .item .tags .tag,
#collapse .item .tags .add-tag,
.collapse .item .tags .add-tag,
#collapse .item .tags input[type=text],
.collapse .item .tags input[type=text] {
  display: inline-block;
  height: 31px;
  border: 1px solid #ced0cd;
  line-height: 29px;
  padding: 0 8px;
  margin-bottom: 4px;
  margin-right: 3px;
  vertical-align: top;
}
#collapse .item .tags .tag input[type=checkbox],
.collapse .item .tags .tag input[type=checkbox] {
  margin-right: 2px;
}
#collapse .item .tags .add-tag,
.collapse .item .tags .add-tag {
  width: 72px;
}
#collapse .item .tags .add-tag i,
.collapse .item .tags .add-tag i {
  background: url(../img/tag.jpg);
  width: 16px;
  height: 16px;
  position: absolute;
  margin-top: 7px;
  cursor: pointer;
}
#collapse .item .tags .add-tag span,
.collapse .item .tags .add-tag span {
  margin-left: 18px;
}
#collapse .item .tags input[type=text],
.collapse .item .tags input[type=text] {
  width: 72px;
  border-color: #08ac29;
  display: none;
}
#collapse .item .text-box,
.collapse .item .text-box,
#collapse .item .img-box,
.collapse .item .img-box {
  display: inline-block;
}
#collapse .item .text-box,
.collapse .item .text-box {
  width: 588px;
  text-align: right;
}
#collapse .item .img-box,
.collapse .item .img-box {
  width: 588px;
  vertical-align: top;
}
#collapse .item .img-box img,
.collapse .item .img-box img,
#collapse .item .img-box .upload-progress,
.collapse .item .img-box .upload-progress {
  display: inline-block;
  width: 78px;
  height: 78px;
  border: 1px solid #cccec9;
  vertical-align: top;
  margin-right: 2px;
  margin-bottom: 2px;
}
#collapse .item .img-box .upload-progress,
.collapse .item .img-box .upload-progress {
  text-align: center;
}
#collapse .item .img-box .upload-progress span,
.collapse .item .img-box .upload-progress span {
  line-height: 78px;
}
#collapse .item .img-box .upload,
.collapse .item .img-box .upload {
  display: inline-block;
  width: 78px;
  height: 110px;
}
#collapse .item .img-box .upload img,
.collapse .item .img-box .upload img {
  cursor: pointer;
}
#collapse .item .img-box .upload span,
.collapse .item .img-box .upload span {
  display: block;
  width: 78px;
  height: 30px;
  text-align: right;
}
#collapse .item textarea,
.collapse .item textarea {
  width: 588px;
  height: 97px;
  border: 1px solid #d5d4d5;
  padding: 8px;
}
#collapse .item input[type=submit],
.collapse .item input[type=submit] {
  width: 87px;
  height: 23px;
  border: 1px solid #d5dccc;
  background-color: #f1f9ea;
  margin-right: 20px;
}
#collapse .item .info-icon,
.collapse .item .info-icon {
  background: url(../img/noname.jpg);
  width: 18px;
  height: 18px;
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
  cursor: pointer;
}
#collapse .item-fix,
.collapse .item-fix {
  margin: 30px 0 50px;
}
#collapse .item-picture label,
.collapse .item-picture label {
  line-height: 18px !important;
}
/*fix*/
.nav_div2 {
  width: 300px;
  height: 28px;
}
.top_main {
  width: 255px;
  height: 30px;
}
.nav_a2 {
  background-color: #48af5e;
}
.nav a.active {
  background-color: #3C8F4D;
}
.box_left .box_Order .active {
  color: #1fa339;
}
.box_left {
  display: inline-block;
}
.personal-evaluation {
  display: inline-block;
  vertical-align: top;
  width: 850px;
  background-color: #ffffff;
  padding: 19px;
  margin: 30px;
}
.personal-evaluation,
.personal-evaluation * {
  box-sizing: border-box;
}
.personal-evaluation h3 {
  display: inline-block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #007515;
  margin-left: 10px;
  margin-bottom: 26px;
}
.personal-evaluation select {
  float: right;
}
.personal-evaluation .table {
  width: 814px;
  word-spacing: -6px;
}
.personal-evaluation .table .col-1,
.personal-evaluation .table .col-2,
.personal-evaluation .table .col-3 {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  word-spacing: 0;
}
.personal-evaluation .table .col-1 a,
.personal-evaluation .table .col-2 a,
.personal-evaluation .table .col-3 a {
  color: #00588b;
  line-height: 18px;
  font-size: 12px;
}
.personal-evaluation .table .col-1 {
  width: 412px;
}
.personal-evaluation .table .col-2 {
  width: 140px;
}
.personal-evaluation .table .col-3 {
  width: 260px;
}
.personal-evaluation .table .th {
  background-color: #f5f5f5;
  height: 31px;
  text-align: center;
}
.personal-evaluation .table .th span {
  line-height: 31px;
}
.personal-evaluation .table .td {
  text-align: center;
}
.personal-evaluation .table .td .col-1 {
  padding: 9px 15px;
  text-align: left;
}
.personal-evaluation .table .td .col-1 img {
  width: 50px;
  height: 50px;
  vertical-align: top;
}
.personal-evaluation .table .td .col-1 .product-name {
  display: inline-block;
  width: 320px;
  height: 50px;
  padding: 5px;
}
.personal-evaluation .table .td .col-2,
.personal-evaluation .table .td .col-3 {
  line-height: 68px;
}
.personal-evaluation .table .td .col-3 {
  position: relative;
}
.personal-evaluation .table .td .col-3 i {
  display: none;
  position: absolute;
  width: 20px;
  height: 12px;
  bottom: -2px;
  left: 120px;
  background: url(../img/up.jpg);
}
.personal-evaluation .table .td .read-only .Comment_class {
  display: inline-block;
  width: 76px;
  height: 15px;
  background: url(../img/zonghe1.png) no-repeat -26px -105px;
  margin-top: 6px;
}
.personal-evaluation .table .td .read-only .g-star-1 {
  background-position: -86px -105px;
}
.personal-evaluation .table .td .read-only .g-star-2 {
  background-position: -71px -105px;
}
.personal-evaluation .table .td .read-only .g-star-3 {
  background-position: -56px -105px;
}
.personal-evaluation .table .td .read-only .g-star-4 {
  background-position: -41px -105px;
}
.personal-evaluation .table .td .read-only .g-star-5 {
  background-position: -26px -105px;
}
.personal-evaluation .table .td .read-only .tag-read {
  display: inline-block;
  max-width: 588px;
}
.personal-evaluation .table .td .read-only .tag-read label {
  display: inline-block;
  height: 31px;
  border: 1px solid #eeeeee;
  line-height: 29px;
  padding: 0 8px;
  margin-bottom: 4px;
  vertical-align: top;
  background-color: #eeeeee;
  margin-right: 3px;
}
.personal-evaluation .table .td .read-only .text-box {
  text-align: left;
  padding: 4px 0;
}
.personal-evaluation .table .td .read-only .text-box p {
  line-height: 20px;
}
