input,
textarea {
  outline: none;
}
a,
input[type=submit],
input[type=button],
button {
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.right {
  float: right;
}
.border {
  border: 1px solid #d6d6d6;
}
.border:focus {
  border: 1px solid #a4e0b0;
}
.radius-round {
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
.box_left {
  display: inline-block;
}
.personal-financing {
  display: inline-block;
  vertical-align: top;
  width: 950px;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 30px 10px;
  font-family: "Microsoft YaHei";
}
.personal-financing,
.personal-financing * {
  box-sizing: border-box;
}
.personal-financing .title-box {
  width: 792px;
  margin-left: 37px;
  margin-bottom: 20px;
  border-bottom: 2px solid #dbdbdb;
}
.personal-financing .title-box h2 {
  display: inline-block;
  font-size: 19px;
  color: #0e050a;
  border-bottom: 2px solid #5a5a5a;
  padding: 5px 0 10px;
  margin-bottom: -2px;
}

.personal-financing input[type=button],
.personal-financing input[type=submit] {
  height: 36px;
  background-color: #48af5e;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-family: inherit;
}
.personal-financing .item {
  margin-top: 19px;
}
.personal-financing .cards {
  display: inline-block;
  width: 675px;
vertical-align: top;
}
.personal-financing .card {
  display: inline-block;
  width: 160px;
  vertical-align: top;
  border: 1px dashed #08ac29;
  padding: 4px;
  cursor: pointer;
  margin-right: 6px;
  margin-bottom: 6px;
}
.personal-financing .card>h4 {
  font-size: 14px;
  line-height: 1.5;
  color: #484444;
}
.personal-financing .card>h5 {
  color: #545454;
}
.personal-financing .item label {
  vertical-align: middle;
  display: inline-block;
  height: 29px;
  width: 148px;
  text-align: right;
  padding-right: 20px;
  font-size: 14px;
  color: rgba(14, 5, 10, 0.83);
  line-height: 29px;
}
.personal-financing .item label > i {
  color: red;
}
.personal-financing .item select {
  width: 133px;
  height: 24px;
}
.personal-financing .item input[type=text] {
  vertical-align: middle;
  height: 29px;
  width: 260px;
  padding: 0 6px;
  margin-right: 24px;
  line-height:29px;
}
.personal-financing .item input[type=button] {
  vertical-align: middle;
  width: 96px;
  height: 24px;
}
.personal-financing .item span.notice {
  color: rgba(14, 5, 10, 0.37);
  font-family: "新宋体";
  font-size: 12px;
}
.personal-financing .item > a {
  margin-left: 152px;
  color: #545454;
}
.personal-financing input[name=ensure] {
  margin-left: 152px;
  margin-top: 29px;
  font-size: 16px;
}
.personal-financing input[name=cancel] {
  margin-left: 16px;
  background-color: #f5f5f5;
  border: 1px solid #dadada;
  color: #6a6a6a;
  margin-top: 29px;
}

.personal-financing > hr {
  margin: 17px 0;
  height: 1px;
  border: none;
  border-top: 1px solid #dedede;
}

.personal-financing > h3 {
  width: 128px;
  text-align: right;
  font-size: 15px;
  color: rgba(14, 5, 10, 0.83);
  font-weight: bold;
}

.personal-financing .info {
  text-align: center;
  width: 300px;
  height: 230px;
  margin: 0 auto;
}
.personal-financing .info > h2 {
  font-size: 16px;
  color: #626E61;
  font-weight: bold;
  line-height: 2.5;
}
.personal-financing .info > h1 {
  font-size: 28px;
  color: #EA544A;
  font-weight: bold;
  line-height: 1.5;
}
.personal-financing .info > hr {
  margin: 17px 0;
  height: 1px;
  border: none;
  border-top: 1px solid #dedede;
}
.personal-financing .info > p {
  font-size: 14px;
  font-family: "Microsoft Yahei","微软雅黑";
  margin-bottom: 17px;
}
.personal-financing .info > a {
  display: inline-block;
  border-radius: 3px;
  width: 126px;
  height: 38px;
  font-size: 16px;
  text-align: center;
  line-height: 38px;
  border: 1px solid #08ac29;
}
a.btn-1 {
  background-color: #08ac29;
  color: #ffffff;
  float: left;
}
a.btn-2 {
  background-color: #ffffff;
  color: #08ac29;
  float: right;
}

.personal-financing .profit-table {
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  width: 100%;
}
.personal-financing .profit-table > h3 {
  font-size: 15px;
  color: rgba(14, 5, 10, 0.83);
  font-weight: bold;
  margin-bottom: 20px;
}
.personal-financing .profit-table table {
  width: 100%;
}
.personal-financing .profit-table table th {
  height: 38px;
  background-color: #f0f0f0;
  border: 1px solid #e3e3e3;
}
.personal-financing .profit-table table td {
  height: 32px;
  border: 1px solid #ededed;
  text-align: center;
}
.personal-financing .profit-table a {
  font-size: 14px;
  color: #48af5e;
  line-height: 36px;
}
.personal-financing .profit-chart {
  display: inline-block;
  vertical-align: top;
  padding-top: 24px;
  margin-left: 10px;
  width: 389px;
  height: 251px;
}
/*fix*/
.nav_div2 {
  width: 300px;
  height: 28px;
}
.top_main {
  width: 255px;
  height: 30px;
}
.nav_a2 {
  background-color: #48af5e;
}
.nav a.active {
  background-color: #3C8F4D;
}
.box_left .box_Order .active {
  color: #1fa339;
}


.pension {
  padding: 0;
  margin-top: 30px;
  width: auto;
  position: relative;
}
.pension img {
  vertical-align: top;
}
.pension a {
  position: absolute;
  bottom: 12px;
  left: 48%;
  display: block;
  height: 37px;
  width: 142px;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  opacity: 0;
  font-size: 26px;
  line-height: 37px;
  text-align: center;
}

.published {
  margin-top: 30px;
  padding: 25px;
  font-family: "Microsoft YaHei";
  position: relative;
}
.published img {
  width: 901px;
  height: 155px;
  vertical-align: top;
}
.published .con {
  position: absolute;
  top: 36px;
  left: 250px;
  color: #f2f01d;
  font-size: 38px;
}
.published .details {
  float: left;
  width: 600px;
  padding: 65px 40px;
}
.published h2 {
  font-size: 26px;
  color: #5c5c5c;
  line-height: 50px;
}
.published b {
  font-size: 34px;
  color: #ff0000;
  margin-left: 6px;
}
.published p {
  font-size: 14px;
  color: #878787;
  line-height: 2;
  margin-top: 24px;
}
.published .btn-group {
  float: right;
  width: 250px;
}
.published .btn-group .btn {
  height: 40px;
  line-height: 40px;
  width: 160px;
  background-color: #3ebb2b;
  border: none;
  font-size: 16px;
  color: #ffffff;
  font-family: "Microsoft YaHei";
  display: block;
  text-align: center;
}
.published .btn-group .btn:first-child {
  margin-top: 150px;
  margin-bottom: 20px;
}
.published .btn-group .disabled {
  background-color: #c5c5c5;
}
