@charset "utf-8";
/* CSS Document */
.Pension_account{
	width:810px;
	background:#FFF;
	padding:0 20px 20px;
	float:left;
	margin-top:28px;}
.Pension_div{
	padding-bottom:20px;
	border-bottom:1px solid #f5f5f5;}
.Pens_img{
	margin-top:50px;
	margin-left:85px;}
.Pens_div{
	margin-top:44px;
	margin-left:24px;}
.Pens_div_p{
	font-size:30px;
	font-family:"Microsoft YaHei";
	color:#1fa339;
	line-height:30px;
	margin-bottom:20px;}
.Pens_div_p1{
	width:320px;
	font-size:14px;
	font-family:"Microsoft YaHei";
	color:#ee751b;}

.Bargain_table{
	width:100%;
	border:1px solid #d9d9d9;}
th,td{
	border:none;}	
.Bargain_th{
	background:#d9d9d9;
	height:30px;
	width:200px;
	}	
.Bargain_th1{
	width:390px;
	background:#d9d9d9;}
.Bargain_th2{
	background:#d9d9d9;}		
td{
	height:20px;}	
.Flip_a,.Flip_a2{
	width:64px;
	height:26px;
	border:1px solid #CCC;
	float:left;
	text-align:center;
	line-height:28px;
	font-size:13px;
	font-family:"Microsoft YaHei";
	color:#CCC;
	position:relative;
	border-radius:5px;
	margin-left:5px;}	
.Flip_a i{
	position:absolute; left:5px; top:9px;
	width:5px;
	height:9px;
	background:url(../img/zonghe1.png) -250px -249px;}	
.Flip_a1{
	line-height:26px;
	padding:0 9px 0;
	font-size:13px;
	font-family:"Microsoft YaHei";
	color:#de662b;
	float:left;
	margin-left:5px;}	
.Flip_a2 i{
	position:absolute; right:5px; top:9px;
	width:5px;
	height:9px;
	background:url(../img/zonghe1.png) -256px -249px;}	
.Flip{
	width:810px;
	text-align:right;
	margin-top:10px;}	
.Flip_div{
	display:inline-block;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	