@charset "utf-8";
/* CSS Document */
.beijing{
	width:100%;
	height:100%;
	background:#f3f3f3;}
.right{
	width:988px;
	background:#FFF;
	margin-top:6px;
	padding-bottom:217px;}
.Information{
	width:100%;
	height:30px;
	background:#e0e0e0;
	line-height:30px;}	
.Information p{
	float:left;
	font-size:14px;
	font-family:"The new song";
	color:#000;}	

.In_p1{
	margin-left:147px;}	
.In_p2{
	margin-left:177px;}		
.In_p3{
	margin-left:121px;}		
	
.In_p5{
	margin-left:140px;
	float:left;
	margin-top:5px;}		
.In_p6{
	margin-left:99px;}		
.Mask{
	width:345px;
	height:87px;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;}	
.Mask a{
	margin:17px 0 0 21px;
	width:51px;
	height:51px;
	border:1px solid #CCC;}	
.Mask_p{
	font-size:13px;
	font-family:"The new song";
	color:#383838;
	line-height:87px;
	margin-left:5px;}
.Mask_p1{
	width:174px;
	font-size:12px;
	font-family:"The new song";
	color:#8c8c8c;
	margin-left:13px;
	margin-bottom:10px;}	
.Mask div{
	margin-top:22px;}	
.Price{
	width:96px;
	height:87px;
	line-height:87px;
	text-align:center;
	font-size:16px;
	font-family:"The new song";
	color:#F00;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;}	
.number{
	width:148px;
	height:87px;
	line-height:87px;
	text-align:center;
	font-size:16px;
	font-family:"The new song";
	color:#787878;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
	font-weight:bold;}	
.Classifi{
	width:214px;
	height:67px;
	line-height:25px;
	font-size:14px;
	font-family:"The new song";
	color:#787878;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
	padding:20px 0 0 14px;}	
.State{
	width:182px;
	height:87px;
	line-height:87px;
	text-align:center;
	font-size:14px;
	font-family:"The new song";
	color:#787878;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;}	
.Edit{
	width:132px;
	height:50px;
	text-align:center;
	font-size:14px;
	font-family:"The new song";
	color:#787878;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
	padding-top:37px;}		
.Edit a{
	display:block;
	margin-top:5px;
	color:#266894;
	}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	